main .favoritos{
    text-align: center;
    padding-top: 60px;
    
    
    h2{
        font-size: 25px;
        line-height: 30px;
        color: #572ee5;
    }

    p{
        font-size: 25px;
        line-height: 30px;
        color: #572ee5;
    
    }

} 

#favoritosConResultados{
    margin-bottom:60px;
}

#botonFavoritos{
    margin-bottom:60px;
}
