
.dark{
    background-color:#37383c;
    color: blanchedalmond;
}

.lineasBlancas{
    background-color: white;
}

.darkMain{
    background-color: #222327;
}
.letraClara{
    color: white;
}
